* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;

    background-color: #e0eafb;
    color: #211f1f;

    direction: ltr;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    line-height: 1.154;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
}

/* Header */
.header {
}

.header-center-column {
    height: 10%;
    background-color: #6299ff;
}

.header-side-column {
    height: 6%;
    background-color: #6299ff;
}

/* Body */
.body {
    background-color: #e0eafb;
}

.body-side-column {
}

.body-center-column {
    background-color: #ffffff;

    text-align: center;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);
}

.body-text {
    padding: 5%;
}

.body-navigation {
    padding: 5%;
}
